{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "extends": ["sanity", "sanity/typescript", "prettier"],
  "ignorePatterns": ["packages/*/lib", "packages/@sanity/*/lib"]
}
