.input {
  color: #000;
  background: linear-gradient(90deg, #ffc107 0%, #bf1942 100%);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.counter {
  width: 40px;
  text-align: center;
}
